@use '/src/styles/constants/colors';

.appWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: colors.$GRAYD;

  .app {
    position: relative;
    width: 350px;
    height: 650px;
    overflow: scroll;
    background: linear-gradient(142deg, colors.$START 0%, colors.$MIDDLE 20%, colors.$END 100%);
    border-radius: 30px;
  }
}