@use '/src/styles/constants/colors';

.gnb {
  margin-top: -80px;
  position: sticky;
  display: flex;
  justify-content: center;
  width: 414px;
  padding: 24px 0 30px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  background: linear-gradient(315deg, colors.$START 0%, colors.$MIDDLE 20%, colors.$END 100%);
  box-shadow: 0 -10px 10px -10px colors.$SHADOW;

  ul {
    display: flex;
    width: 100%;
    justify-content: center;
    column-gap: 150px;
  }

  .link {
    padding: 4px 14px;

    .isActive {

      .searchIcon, .bookmarkIcon {
        font-weight: 600;
        fill: colors.$WHITE;
      }
    }

    .searchIcon {
      width: 30px;
      fill: rgba(255, 255, 255, 0.4);
      font-size: 20px;
    }

    .bookmarkIcon {
      width: 23px;
      fill: rgba(255, 255, 255, 0.4);
      font-size: 20px;
    }
    
  }
}
