@use '/src/styles/constants/colors';

.gnb {
  position: sticky;
  display: flex;
  justify-content: center;
  width: 350px;
  padding: 17px 0 20px;
  margin-top: -78px;
  background: linear-gradient(315deg, colors.$START 0%, colors.$MIDDLE 20%, colors.$END 100%);
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  box-shadow: 0 -10px 10px -10px colors.$SHADOW;

  ul {
    display: flex;
    column-gap: 150px;
    justify-content: center;
    width: 100%;
  }

  .link {
    padding: 4px 14px;

    .isActive {

      .searchIcon,
      .bookmarkIcon {
        font-weight: 600;
        fill: colors.$WHITE;
      }
    }

    .searchIcon {
      width: 30px;
      font-size: 20px;
      fill: rgba(255, 255, 255, 0.4);
    }

    .bookmarkIcon {
      width: 23px;
      font-size: 20px;
      fill: rgba(255, 255, 255, 0.4);
    }
  }
}