@use '/src/styles/constants/colors';
@use '/src/styles/mixins/position';

.movieList {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 20px 0;

  .movieBtn {
    display: flex;
    column-gap: 25px;
    max-width: 280px;
    padding: 15px 20px;
    cursor: pointer;
    background: rgba(colors.$WHITE, 0.05);
    border-radius: 8px;
    transition: linear 0.3s;

    &:hover {
      background: rgba(colors.$WHITE, 0.1);
    }

    .posterWrap {
      pointer-events: none;

      .moviePoster {
        width: 100px;
        background-color: colors.$WHITE;
        border-radius: 5px;
      }
    }

    .movieDetailWrap {
      display: flex;
      flex-direction: column;
      row-gap: 12px;
      justify-content: space-around;
      height: 100%;
      pointer-events: none;

      .movieTitle {
        display: -webkit-box;
        overflow: hidden;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        font-size: 20px;
        font-weight: bold;
        color: colors.$WHITE;
        text-align: left;
        text-overflow: ellipsis;
      }

      .movieText {
        display: flex;
        column-gap: 25px;

        dt {
          margin-bottom: 5px;
          font-size: 13px;
          color: rgba(colors.$GRAYB, 0.6);
        }

        dd {
          font-size: 16px;
          font-weight: 600;
          color: colors.$WHITE;
        }
      }
    }
  }

  .modalWrap {
    .backdrop {
      @include position.absolute(0);
      background-color: rgba(colors.$BLACK, 0.6);
      border-radius: 8px;
    }

    .modal {
      @include position.absolute(50% 0 0 50%);
      display: flex;
      height: 40px;
      transform: translate(-50%, -50%);

      button {
        width: 50%;
        font-size: 14px;
        font-weight: bold;
        color: colors.$WHITE;
      }

      .allow {
        background-color: colors.$TASK_ITEM_TITLE;
      }

      .allowCancel {
        width: 80%;
        background-color: colors.$PURPLE;
      }

      .cancel {
        background-color: colors.$GRAY6;
      }
    }
  }

  .likeIcon {
    @include position.absolute(15px 15px auto auto);
    width: 17px;
    fill: colors.$ORANGE;
  }
}